containerx {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container0 {
  padding: min(3rem, 6vw);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}
.container1 {
  padding: 2rem;
  opacity: 0.8;
  background-color: white;
}
.container2 {
  background: none;
  opacity: 1;
  width: max(33vw, 280px);
  padding: min(1.2rem, 4vw);
  background-color: white;
  flex-flow: row wrap;
  font-size: 1.6rem;
  gap: 0.5em;
  font-weight: 300;
}

.main2 {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  padding: 0.3em;
}
.img {
  margin: 4px;
  width: 50px;
  height: 50px;
}
.dev {
  font-weight: 300;
}
