.main-flx {
  width: 60vw;
  background: rgba(255, 255, 255, 0.5);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.avatar-img {
  width: 125px;
  border-radius: 50%;
  height: 125px;
}
.info-text {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  width: 60%;
}
.info {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 6rem;
  width: 100%;
}
.grid {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.grid img {
  border-radius: 0;
  width: unset;
  width: 24%;
  margin-bottom: 8px;
}
.item {
  width: 30%;
  display: inline-block;
}
.item h3 {
  font-size: 2em;
}
.item h6 {
  font-size: 1em;
}
